.article-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.article-container {
  width: 25%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  transition: all 0.2s ease;
}

.article-container:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.article-details {
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
}
.footer {
  text-align: center;
  padding: 10px;
  color: #0056b3;
}
